/* Global Styles */
.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Content Styles */
.centered-content {
  background-image: url('back.jpg');
  background-size: 3900px 2600px; /* Set the fixed zoom level (zoomed in 50%) */
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  animation: moveBackground 40s linear infinite;
}

.centered-content:hover {
  background-color: rgba(148, 148, 148);
}


@keyframes moveBackground {
  0% {
    background-position: 0% 0%; /* Start from top-left */
  }
  50% {
    background-position: 0% 100%; /* Move to bottom-left */
  }
  100% {
    background-position: 0% 0%; /* Start from top-left */
  }
}
.pad {
  margin-top: 115px;
}

.skills,
.experience,
.education {
  margin: 20px;
  padding: 20px;
}

.skills {
  min-height: 100vh; /* Set a minimum height equal to the viewport height */
  background-color: rgba(71, 71, 135, 0.515);
  width: 30%;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);

}

.skills:hover {
  background-color: rgba(45, 44, 84, 0.715); /* Slightly darker background on hover */
}

.experience:hover,
.education:hover {
  background-color: rgba(71, 71, 135, 0.515);; /* Slightly darker background on hover */
}

.content-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.skill-level {
  display: flex;
  gap: 5px; /* Adjust the gap between dots as needed */
}

.dots {
  font-size: 1.2rem; /* Adjust the font size of the dots as needed */
  color: #000000; /* Color of the dots */
  margin-left: 5px; /* Adjust spacing between skills and dots */
}


/* Add this CSS for the moving character animation */
.moving-character {
  width: 30px; /* Adjust the width of the character as needed */
  height: 30px; /* Adjust the height of the character as needed */
  background-color: rgba(2, 27, 96); /* Color of the character */
  border-radius: 50%;
  position: absolute;
  animation: moveCharacter 10s linear infinite;
}


@keyframes moveCharacter {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(40vw); /* Move 50% of the screen width */
  }
  100% {
    transform: translateX(0);
  }
}

.moving-character1 {
  width: 30px; /* Adjust the width of the character as needed */
  height: 30px; /* Adjust the height of the character as needed */
  background-color: rgba(2, 27, 96); /* Color of the character */
  border-radius: 50%;
  position: absolute;
  animation: moveCharacter 12s linear infinite;
}


@keyframes moveCharacter {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(40vw); /* Move 50% of the screen width */
  }
  100% {
    transform: translateX(0);
  }
}

.moving-character2 {
  width: 30px; /* Adjust the width of the character as needed */
  height: 30px; /* Adjust the height of the character as needed */
  background-color: rgba(2, 27, 96); /* Color of the character */
  border-radius: 50%;
  position: absolute;
  animation: moveCharacter 19s linear infinite;
}


@keyframes moveCharacter {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(40vw); /* Move 50% of the screen width */
  }
  100% {
    transform: translateX(0);
  }
}

/* Add this CSS to style the circular profile picture */
.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  max-width: 250px; /* Adjust the width and height as needed for your design */
  height: 250px;
  /* overflow: hidden; */
  margin: 0 auto 20px; /* Adjust the margin as needed */
  /* border: 5px solid #585858; */
}

.profile-picture img {

  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;

}

.contact-details li {
  word-wrap: break-word;
}


@media (max-width: 768px) { /* Adjust the max-width as needed */
  .centered-content {
    flex-direction: column; /* Stack centered-content vertically */
  }

  .skills {
    width: 100%; /* Make skills take full width */
    margin: 0; /* Remove margin */
  }

  .experience,
  .education {
    width: 100%; /* Make experience and education take full width */
    margin: 0; /* Remove margin */
    padding-right: 20px;
  }
  .content-column {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}